# Byte-compiled
*__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Sphinx documentation
docs/build/

# ipython notebooks
*.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/